[build]
target = "x86_64-unknown-none"

[target.bare_metal]
rustflags = [
    "-C", "link-arg=-Tsrc/linker.ld",
]

[target.x86_64-unknown-linux-gnu]
# linker = "cc"

[target.x86_64-pc-windows-msvc]
# linker = "link.exe"

[target.x86_64-unknown-none]
rustflags = [
    "-C", "link-arg=-Tlinker.ld",
]
