[build]
target = "bare_metal.json"

[target.bare_metal]
rustflags = [
    "-C", "link-arg=-Tsrc/linker.ld",
]

[target.x86_64-unknown-linux-gnu]
# linker = "cc"

[target.x86_64-pc-windows-msvc]
# linker = "link.exe"
